@import 'switch';

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0;
}

.background-img{
    position: relative;
    width: 100%;
    height: 100vh;
    img{
        height: 100%;
        min-width: 100%;
    }
}

.col-3{
    width: 31.5%;
}

main{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 1;
}


//Card list
.card-wrapper{
    color: #fff;
    display: flex;
    justify-content: end;
    text-align: center;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-between;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.6881127450980392) 0%, rgba(0,0,0,0) 70%);

    h3{
        font-weight: 100;
        margin: 0;
    }
    .container{
        display: flex;
        align-items: center;
    }
    .figure{
        font-size: 2.2rem;
        font-weight: 300;
    }
    .name{
        text-transform: capitalize;
        font-size: 18px;
    }
    //Card section
    .card{
        margin: 0 1rem;
    }

    .icon{
        img{
            width: 28px;
        }
    }

    .menu-wrap{
        display: flex;
        align-items: center;
        margin-left: 1rem;
        #menuBtn{
            position: relative;
            height: 30px;
            transition: 0.5s ease-in-out;
            &:hover{
                img{
                    opacity: 1;
                }
                &::after{
                    top: 0px;
                    position: absolute;
                    margin-left: 4px;
                    padding: 4px 5px;
                    font-size: 14px;
                    text-transform: capitalize;
                    content: 'Menu';
                    background-color: #303843;
                    z-index: 8;
                }   
            }
        }
        img{
            width: 30px;
            cursor: pointer;
            opacity: 0.8;

        } 
        .menu{
            display: none;
            position: absolute;
            z-index: 1;
            margin-left: 3rem;
            background-color: rgba(19, 26, 33, 0.85);
            top: 2rem;
            min-width: 20rem;
            width: 25rem;
            border-radius: 8px;
            padding: 1rem 2rem;
            ul{
                list-style: none;
                padding: 0;
                li{
                    text-align: left;
                    margin: 1rem 0;
                }
                .menu-item{
                    color: #fff;
                    text-decoration: none;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                }
                .iconMenu{
                    margin-right: 10px;
                    img{
                        width: 28px;
                    }
                }
            }
            .left-section{
                width: 30%;
            }
            .right-section{
                width: 70%;
                padding-left: 1rem;
            }
            section{
                display: none;
                &.active{
                    display: block;
                }
            }

            &.active{
                display: flex;
            }
        }  
    }
}


.main-section{
    color: rgb(251, 251, 251);
    display: flex;
    padding: 2rem;
    position: absolute;
    width: 100%;
    left: 0;
    box-sizing: border-box;
    font-size: 1.4rem;
    justify-content: space-between;
    flex-wrap: wrap;

    top: 25%;


    ul{
        list-style: none;
        display: flex;
        margin: 0;
        text-transform: uppercase;
        padding: 0;
    }

    .clock-container{
        &.active{
            .clock .time{
                font-size: 3rem;
                width: 36rem;
            }
        }

        .time{
            padding: 0;
            font-size: 8rem;
            font-weight: 400;
            margin: 0;
        }
    }
}

.task-container{
    width: 50%;
    .tab-section{
        display: flex;
        justify-content: end;
    }
    .tab{
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.5);
        .title{
            text-transform: uppercase;
            cursor: pointer;
            padding: 1rem 2rem;
            border-radius: 8px;
        }

        &.active{
            width: 30rem;
            height: 25rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .todo-container{
                margin-bottom: auto;
            }
        }
    }

    .todo-container{
        height: 15.5rem;
        overflow-y: scroll;
        padding: 0 2rem 3rem 2rem;
        ul{
            display: list-item;
        }
        li{
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            margin: 0.5rem 0;
            padding: 0.5rem 0.5rem;
            cursor: pointer;     
            height: 1.5rem;
            //transition: ease-in-out 0.2s;
            span{
                &:first-child{
                    margin-right: 1rem;
                }
            }
            &:active{
                cursor: grabbing;
                background-color: rgba(255, 255, 255, 0.31);
                transition: 0.6s ease-in-out;
            }
        }
    }

    .select-circle{
        display: block;
        height: 1.2rem;
        width: 1.3rem;
        border: 2px solid #fff;
        border-radius: 50%;
        cursor: pointer;
        img{
            display: none;
        }
    }

    .title-task{
        font-size: 18px;
        text-transform: none;
        //Change to input
        color:white;
        background-color: transparent;
        border: none;
        box-sizing: border-box;
        width: 100%;
        padding: 5px;

        &:focus{
            outline: none;
        }

        &:not(:read-only){
            color: rgb(255, 255, 255);
            //outline: auto;
            outline-color: rgb(131, 131, 255);
            border-bottom: #fff 2px solid;
            background-color: #0000008c;
        }
        
    }

    .selected{
        .title-task{
            text-decoration: line-through;
            opacity: 0.6;
        }
        
        .select-circle{
            position: relative;
            img{
                width: 14px;
                display: block;
                position: absolute;
                top: 3px;
                left: 3px;
            }
            &:after{
                color: #131a21;
                position: absolute;
                top: 0;
            }   background-color: #2d4361;
        }
    }
}

.todo-form{
    padding: 1.5rem 1rem;
    .action-title{
        text-align: center;
        font-size: 1.2rem;
        cursor: pointer;
    }

    .add-form{
        input{
            width: 100%;
            font-size: 1.2rem;
            background-color: transparent;
            color: #fff;
            border: 1px solid transparent;
            box-sizing: border-box;
            padding-bottom: 5px;
            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: rgb(255, 255, 255);
                opacity: 0.6; /* Firefox */
              }
            &:focus{
                outline: none;
                border-bottom: 1px  solid #fff;
                &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                    opacity: 0.9; /* Firefox */
                  }
            }
        }

    }
}

.timer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .button{
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        border: 4px solid #fff;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        &#play{
            margin-left: auto;
            margin-right: 10px;
        }
        &#stop{
            opacity: 0.35;
            img{
                width: 25px;
                border: 2px solid #fff;
            }
        }
    }
    img{
        width: 38px;
    }
}

.modal{
    display: none;
    //transition: all 0.2s ease-out;
    background-color: #0000009d;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    &.active{
        display: block;
        visibility: visible;
        //transition: 0.2s;
    }
}

.form-container{
    background-color: #131a21;
    color: #fff;
    max-width: 600px;
    border-radius: 8px;
    padding: 1.5rem;
    z-index: 10;
    position: absolute;
    //left: 33%;
    top: 20%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 

    
    #closeModal{
        float: right;
        cursor: pointer;
    }

    h2{
        font-weight: 600;
        margin-bottom: 0;
        margin-top: 0;
        font-size: 26px;
    }
    .title-form{
        font-weight: 300;
        font-size: 16px;
        //border-bottom: 1px solid #9f9f9f;
        padding-bottom: 7px;
        margin-bottom: 5px;
    }
    .row{
        display: flex;
        justify-content: space-between;
    }
    label{
        display: flex;
        margin-bottom: 10px;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 400;
    }
    input, select{
        background-color: #303843;
        border: none;
        padding: 5px;
        color: #fff;
        width: 100%;
        box-sizing: border-box;
        &:focus{
            outline: none;
        }
    }
    .form-group{
        margin-top: 10px;
    }
    .form-section{
        padding: 5px 0;
        box-sizing: border-box;
    }

    .description{
        font-size: 20px;
        font-weight: 100;
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        opacity: 0.4;
    }
}

#pomodoro-config{
    cursor: pointer;
    opacity: 0.55;
    transition: 0.2s;
    position: relative;
    &:hover{
        opacity: 1;
        &::after{
            top: 0px;
            position: absolute;
            margin-left: 4px;
            padding: 4px 5px;
            font-size: 14px;
            text-transform: capitalize;
            content: 'Settings';
            background-color: #303843;
        }
    }
    img{
        width: 20px;
    }
}

